@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.camera {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px dotted blueviolet;
    margin: 0 20px;
}

#camera-id {
    padding: 20px 20px 10px 10px;
}

.result {
    position: relative;
    padding-top: 18px;
}

#camera-img {
    width: 14rem;
    height: auto;
}

.buttons {
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.take-photo, 
.reset-button,
.ok-button {
    outline: none;
    font-size: 14px;
    width: 100%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    color: #6C757D;
    border: 1px solid #6C757D;
}

.ok-button {
    background: blue;
    color: #fff;
}