.filters-container {
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 5px;

    .filters {
        .filters-title {
            padding-bottom: 10px;
        }

        .filters-options {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;

            #brightness,
            #saturate,
            #contrast,
            #grayscale {
                outline: none;
                height: 40px;
                font-size: 14px;
                color: #6C757D;
                background: #fff;
                border-radius: 3px;
                margin-bottom: 8px;
                border: 1px solid #aaa;
                cursor: pointer;

                &.active {
                    color: #fff;
                    border-color: #5372F0;
                    background: #5372F0;
                }
            }

        }

        .slider {
            margin-top: 1rem;
            border-top: 2px dotted #ccc;

            .filter-info {
                display: flex;
                justify-content: space-between;

            }

            .filter-range {
                input {
                    width: 100%;
                }

            }
        }
    }

    .rotate {
        margin-top: 1rem;
        border-top: 2px dotted #ccc;

        .rotate-title {
            margin-top: 1rem;
        }


        .rotate-options {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            #left,
            #right,
            #horizontal,
            #vertical {
                outline: none;
                font-size: 14px;
                width: 100%;
                margin-right: 0.5rem;
                display: flex;
                justify-content: center;
                color: #6C757D;
                background: #fff;
                border-radius: 3px;
                padding: 10px;
                border: 1px solid #aaa;
                cursor: pointer;
            }

        }
    }
}


@media screen and (max-width: 860px) {
    .filters-container {
        margin: 1rem 2rem;
    }
}