.app-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "filters preview";

    .filters-container {
        grid-area: filters;
    }

    .preview-container {
        grid-area: preview;
    }
}

@media screen and (max-width: 860px) {
    .app-main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "preview"
            "filters";
    }
}